@import "../../styles/colors";

.request-container {
  width: 430px;
  background-color: $grey-12;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;

  .load-more-button {
    width: 150px;
    margin: 20px auto;
    font-weight: 400;
    font-size: 14px !important;
  }

  .request {
    padding: 15px;
    border-bottom: 1px solid $grey-7;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    &:nth-child(2n) {
      background-color: $grey-11;
    }
  }
}
