@import "../../styles/colors";

.skip-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: $grey-12;
  border-right: 3px solid $grey-9;

  .skip-button {
    border-radius: 50%;
    font-weight: 400;
    height: 70px;
    width: 70px;
  }

  .skip-slice-container {
    position: relative;
    display: flex;
    width: 300px;
    height: 50px;
    margin-right: 20px;
    border: 3px solid $grey-1;

    .skip-slice {
      flex-grow: 1;

      &.active {
        background-color: $green-3;
      }
    }

    .skips-count {
      position: absolute;
      display: flex;
      font-size: 29px;
      font-weight: 400;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);

      .max-skips-input {
        width: 33px;
        margin-left: 10px;
        font-size: 26px;

        .MuiInputBase-input {
          padding-top: 0;
          padding-bottom: 3px;
        }
      }
    }
  }
}
