@import "../../styles/colors";

.page-container {
  display: flex;
  flex-wrap: nowrap;

  .video-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .extra {
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    color: $grey-4;
    left: 15px;
    bottom: 10px;
  }
}
